a {
  color: green;
}

i {
  color: red;
}

.line {
  text-decoration: underline;
}

.links a {
  text-decoration: none;
}

p .line {
  color: gray;
}

b {
  color: mediumslateblue;
}

/* tema */

/* 12 */
a[href$='.com'],
a[href$='.com/'],
a[href*='.com/'] {
  text-decoration: underline;
  color: black;
}
