h1 {
  color: red;
  text-decoration: underline;
}

p {
  color: gray;
}

ol a {
  color: green;
  text-decoration: line-through blue;
}

h2 {
  text-shadow: 2px 2px 5px yellow;
  font-weight: normal;
}
