/* Pentru checkboxuri coloreaza elementul label
verde atunci cand un checkbox este activat  */
input[type='checkbox']:checked + label {
  background-color: seagreen;
}

/* Pentru grupul radio, coloreaza fundalul elementului label
verde deschis cand sunt activate */
input[type='radio']:checked + label {
  background-color: mediumaquamarine;
}

/* Pentru elementul select, coloreaza optiunea selectata
cu rosu si textul bold  */
select option:checked {
  color: tomato;
  font-weight: bold;
}
